:root {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex-grow: 1;
}

body > main > article {
  padding: 3em;
  flex-grow: 1;
}

footer {
  font-size: smaller;
  text-align: center;
}

footer > p {
  padding: 1em;
}
